extends layout

block content
	.headerWrapper
	.notesContainer
		.controlBarWrapper
			.controlBar
				.sideControlToggleButtonWrap
					span.sideControlButton >>
		.notesDisplayContainer
	.sideControlWrapper


