extends layout

block content
	#outerContentWrap
		#loaderWrap
			#loader
				span loading
		#innerContentWrap
			#leftDivWrap
				span#subtitle NoteBooks
				#notesListWrap
					ul#notesList
			#rightDivWarp
				#noteViewWrap

