extends layout

block content
	.headerWrapper
	.overlay
	.notesContainer
		.controlBarWrapper
			.controlBar
				.sideControlToggleButtonWrap
					span.sideControlButton >>
				button(type = 'button' class = 'addNotesButton') 'Add Note'
		.notesDisplayContainer
	.sideControlWrapper
		div
			span Filter By Content:
			input(type = 'text' name = 'contentFilter' id = 'contentFilter' class = 'filterBox')
		div
			span Filter By User:
			input(type = 'text' name = 'userFilter' id = 'userFilter' class = 'filterBox')

