doctype html
head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/index.css')
	link(rel='stylesheet', href='/stylesheets/buttons.css')
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.9.1.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="/javascripts/index.js"></script>
	<script src="/javascripts/buttons.js"></script>
html
	body
		block content
